<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>biodata Rasendrio</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Bree Serif' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
	<link href='https://fonts.googleapis.com/css?family=Bree Serif' rel='stylesheet'>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- JS, Popper.js, and jQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
	<!-- navbar -->
	<ul>
		<li><a href="{% url 'homepage:home' %}">Halo! {{ user }}</a></li>
		<li><a class="active" href="{% url 'homepage:home' %}">Home</a></li>
		<li><a href="{% url 'homepage:hobi' %}">Hobi dan Ketertarikan</a></li>
		<li><a href="{% url 'homepage:pendidikan' %}">Riwayat Pendidikan</a></li>
		<li><a href="{% url 'homepage:hubungi' %}">Hubungi Saya</a></li>
		<li><a href="{% url 'homepage:schedule' %}">Jadwal Kuliah</a></li>
		<li><a href="{% url 'homepage:books' %}">Books</a></li>
		<li><a href="{% url 'homepage:signup' %}">Signup</a></li>
		<li><a href="{% url 'homepage:signin' %}">Signin</a></li>
		<li><a href="{% url 'homepage:logout' %}">Logout</a></li>
	</ul>

	<div class="section1" id="hobipage">
		<div class="container">
			<div class="row " style="padding-bottom: 15em">
				<div class="col-md-4" style="text-align: center;">
					<img class="rounded-circle hover" src="{% static './images/saxo1.jpg' %}" style="width:100%;height: 50%;margin-top: 2em">
					<span class="white" style="margin-top: 2em; font-size: 20px">Saya senang bermain musik, karena seperti di deskripsi diri saya , saya menyebutkan bahwa saya memiliki pembawaan yang santai, karena menurut saya dengan bermusik kita dapat lebih tenang dan santai. Saya sangat suka bermain alat musik disaat saya sedang banyak pikiran. Alat musik yang sering saya mainkan adalah saxophone.</span>
				</div>
				<div class="col-md-4" style="text-align: center">
					<img class="rounded-circle hover" src="{% static './images/swim.jpg' %}" style="width: 100%;height: 50%;margin-top: 2em" >
					<span class="white" style="margin-top: 2em; font-size: 20px">Saya juga senang berolahraga, karena menurut saya dengan berolahraga kita dapat menghilangkan aura negatif dalam diri kita. Kita juga bisa mendapatkan pelajaran bersaing dengan sportif di olahraga. Saya suka beberapa olahraga, seperti futsal, bulutangkis dan juga renang. Namun dari semua itu saya paling suka renang karena menurut saya renang adalah olahraga yang paling bermanfaat, baik untuk pernafasan maupun fisik. Saya juga telah memperoleh beberapa prestasi dari renang.</span>
				</div>
				<div class="col-md-4" style="text-align: center">
					<img class="rounded-circle hover" src="{% static './images/bisnis.jpg' %}" style="width:100%;height: 50%;margin-top: 2em">
					<span class="white" style="margin-top: 2em; font-size: 20px">Tidak lama ini saya baru terjun ke dunia ini. Yap, itu bisnis. Saya tertarik akan ini karena kita dapat memperluas wawasan serta koneksi kita untuk masa depan. Kita juga dapat belajar untuk menjadi pemimpin. Dengan wawasan, pengalaman serta koneksi disini kita akan siap untuk melewati hidup kita di masa depan dan akan bermanfaat bagi banyak orang.</span>
				</div>
			</div>
		</div>
	</div>

</body>
</html>