<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>biodata Rasendrio</title>
	<!-- file CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Bree Serif' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
	<link href='https://fonts.googleapis.com/css?family=Bree Serif' rel='stylesheet'>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- JS, Popper.js, and jQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<script src="{% static 'accordion.js' %}"></script>
</head>
<body>
	<!-- navbar -->
	<ul>
		<li><a href="{% url 'homepage:home' %}">Halo! {{ user }}</a></li>
		<li><a class="active" href="{% url 'homepage:home' %}">Home</a></li>
		<li><a href="{% url 'homepage:hobi' %}">Hobi dan Ketertarikan</a></li>
		<li><a href="{% url 'homepage:pendidikan' %}">Riwayat Pendidikan</a></li>
		<li><a href="{% url 'homepage:hubungi' %}">Hubungi Saya</a></li>
		<li><a href="{% url 'homepage:schedule' %}">Jadwal Kuliah</a></li>
		<li><a href="{% url 'homepage:books' %}">Books</a></li>
		<li><a href="{% url 'homepage:signup' %}">Signup</a></li>
		<li><a href="{% url 'homepage:signin' %}">Signin</a></li>
		<li><a href="{% url 'homepage:logout' %}">Logout</a></li>
	</ul>

	<div class="section1">
		<div class="row">
			<div class="col-md-12">
				<div class="row" style="margin: 5em 10em;">
					<div class="col-md-4">
						<img class="hover" src="{% static './images/foto1.jpg' %}" style="margin-top: 2em">
					</div>
					<div class="col-md-8 wrap hover">
						<h1 >Hai!</h1>
						<h2 >Saya Rasendrio Muhammad</h2>
						<h4 style="margin-top: 1em">1906303084</h4>
						<h4 style="margin-top: 5em"> Perkenalkan saya mahasiswa dari Fakultas Ilmu Komputer Universitas Indonesia angkatan 2019. Saya pribadi tertarik akan suatu hal yang baru dan akan mudah beradaptasi dengan lingkungan baru tersebut. Saya juga orang yang memiliki pembawaan yang santai dalam setiap kondisi.</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="accordion">
		<div class="accitem">
			<h3>Deskripsi</h3>
			<button onclick="return move(this,1)">V</button>
			<button onclick="return move(this,-1)">^</button>
		</div>
		<div>
		  <p>
			  Web yang saya buat merupakan biodata diri saya yang merupakan tugas story dari Mata Kuliah PPW
		  </p>
		</div>
		<div class="accitem">
			<h3>Aktifitas</h3>
			<button onclick="return move(this,1)">V</button>
			<button onclick="return move(this,-1)">^</button>
		</div>
		<div>
		  <p>
			  Belajar di Fasilkom serta menjalani bisnis
		  </p>
		</div>
		<div class="accitem">
			<h3>Organisasi</h3>
			<button onclick="return move(this,1)">V</button>
			<button onclick="return move(this,-1)">^</button>
		</div>
		<div>
		  <p>
			  Perak Fasilkom
			  OSIS
		  </p>
		</div>
		<div class="accitem">
			<h3>Penghargaan</h3>
			<button onclick="return move(this,1)">V</button>
			<button onclick="return move(this,-1)">^</button>
		</div>
		<div>
		  <p>
			  Juara 2 Show Competition(alat tiup), Kerkrade, Netherlands
			  Juara 3 02SN cabang renang tingkat Jakarta Selatan
		  </p>
		</div>
	</div>
</body>
</html>