<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>biodata Rasendrio</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Bree Serif' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
	<link href='https://fonts.googleapis.com/css?family=Bree Serif' rel='stylesheet'>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- JS, Popper.js, and jQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
	<!-- navbar -->
	<ul>
		<li><a href="{% url 'homepage:home' %}">Halo! {{ user }}</a></li>
		<li><a class="active" href="{% url 'homepage:home' %}">Home</a></li>
		<li><a href="{% url 'homepage:hobi' %}">Hobi dan Ketertarikan</a></li>
		<li><a href="{% url 'homepage:pendidikan' %}">Riwayat Pendidikan</a></li>
		<li><a href="{% url 'homepage:hubungi' %}">Hubungi Saya</a></li>
		<li><a href="{% url 'homepage:schedule' %}">Jadwal Kuliah</a></li>
		<li><a href="{% url 'homepage:books' %}">Books</a></li>
		<li><a href="{% url 'homepage:signup' %}">Signup</a></li>
		<li><a href="{% url 'homepage:signin' %}">Signin</a></li>
		<li><a href="{% url 'homepage:logout' %}">Logout</a></li>
	</ul>

	<div class="section1" id="hobipage">
		<div class="container">
			<div class="row " style="padding-bottom: 25em ; padding-top: 10em;">
				<div class="col-md-3" style="text-align: center;">
					<img class="rounded-circle hover" src="{% static './images/kb.png' %}" style="width:100%;height: 80%;margin-top: 2em">
					<span class="white" style="margin-top: 2em; font-size: 20px">SD Kharisma Bangsa</span>
				</div>
				<div class="col-md-3" style="text-align: center">
					<img class="rounded-circle hover" src="{% static './images/19.jpg' %}" style="width: 100%;height: 80%;margin-top: 2em" >
					<span class="white" style="margin-top: 2em; font-size: 20px">SMPN 19 Jakarta</span>
				</div>
				<div class="col-md-3" style="text-align: center">
					<img class="rounded-circle hover" src="{% static './images/47.png' %}" style="width:100%;height: 80%;margin-top: 2em">
					<span class="white" style="margin-top: 2em; font-size: 20px">SMAN 47 Jakarta</span>
				</div>
				<div class="col-md-3" style="text-align: center">
					<img class="rounded-circle hover" src="{% static './images/pacil.png' %}" style="width:100%;height: 80%;margin-top: 2em">
					<span class="white" style="margin-top: 2em; font-size: 20px">Fasilkom UI</span>
				</div>
			</div>
		</div>
	</div>

</body>
</html>