<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>biodata Rasendrio</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Bree Serif' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
	<link href='https://fonts.googleapis.com/css?family=Bree Serif' rel='stylesheet'>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- JS, Popper.js, and jQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
    <!-- navbar -->
    <ul>
        <li><a href="{% url 'homepage:home' %}">Halo! {{ user }}</a></li>
        <li><a class="active" href="{% url 'homepage:home' %}">Home</a></li>
        <li><a href="{% url 'homepage:hobi' %}">Hobi dan Ketertarikan</a></li>
        <li><a href="{% url 'homepage:pendidikan' %}">Riwayat Pendidikan</a></li>
        <li><a href="{% url 'homepage:hubungi' %}">Hubungi Saya</a></li>
        <li><a href="{% url 'homepage:schedule' %}">Jadwal Kuliah</a></li>
        <li><a href="{% url 'homepage:books' %}">Books</a></li>
        <li><a href="{% url 'homepage:signup' %}">Signup</a></li>
		<li><a href="{% url 'homepage:signin' %}">Signin</a></li>
		<li><a href="{% url 'homepage:logout' %}">Logout</a></li>
    </ul>

    <form action='' method="POST">
        {% csrf_token %}
        {{form}}
        <div class="centre-items">
            <input type="submit" class="btn btn-primary" value="Add schedule">
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
            <th scope="col">Mata_Kuliah</th>
            <th scope="col">Dosen</th>
            <th scope="col">Kelas</th>
            <th scope="col">Tahun</th>
            <th scope="col">SKS</th>
            </tr>
        </thead>
        <tbody>
            {% for jadwal in sched %}
                <tr>
                <th scope="row">{{jadwal.Mata_Kuliah}}</th>
                <td>{{jadwal.Dosen}}</td>
                <td>{{jadwal.Kelas}}</td>
                <td>{{jadwal.Tahun}}</td>
                <td>{{jadwal.SKS}}</td>
                <td><a href="{% url 'homepage:delete' pk=jadwal.pk %}"><button class="btn btn-icon btn-danger"></button></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>